.gradle
.idea
/build/
/logs/

# Too big to upload, only used for debugging
/src/main/resources/strings.txt
/src/test/resources/packets.txt

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
